h1{
        color: aliceblue;
        text-align-last: center;
 }
 .caja{
        
          height: 90px;
          font-size: 40px;
            
 }
 .gifs{
        
 }
 h3{
         color: yellow;
 }
